body{
    background-color: #E36588;
    color: white;
    /* overflow:hidden; */
}
.wrapper{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}
.heading{
    font-size: 15px;
    border-bottom: 5px solid black;
    margin-bottom: 10px;
    color: #dcfc10;
}

.box{
    /* background-color: #DD718A; */
    height: 50vmin;
    width: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
}

.Boxes{
    height: 15vmin ;
    width: 15vmin;
    border-radius: 1rem;
    background-color: transparent;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border: 0;
    font-size: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(71, 48, 5);
    cursor: pointer;

}
.Boxes:hover{
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}





#btn{
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s;
    padding: 5px 10px;
    border-radius: 100px;
    background: #cfef00;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 2rem;
  }
  
  #btn:hover {
    background: #c4e201;
  }
  
  #btn > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  #btn:hover svg {
    transform: translateX(5px);
  }
  
  #btn:active {
    transform: scale(0.95);
  }


  .hide{
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }


  #newBtn{
    background-color: #dcfc10;
    margin-left: 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(157, 43, 43);
    cursor: pointer;
  }
  