body {
  background-color: #ee5522;
  background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExanI4cXprNm05OWdidGtpZ3hwMTFodjlrdXc0NHBwZWdlNG80dXlmdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/4N1FZFE5AGO3qrUGkw/giphy.webp");
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}