*{
    margin: 0;
    padding: 0;
}
.App{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    align-items: center;
}

.navbar{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-decoration: none;
    
}

.active{
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    background-color: blueviolet;
    color: white;
    text-decoration: none ;
}
