.box{
    border: 2px solid black;
    height: 100px;
    width: 200px;
    background-color:orange;
    
    padding:10px;
    box-sizing: border-box;
}
#A{
    background-color: orange;
}
#B{
    background-color: white;
   
    
    
}   

#C{
    background-color: green;
}

.newbox{
  border: 1px solid black;
  height: 100px;
  width: 100px;
  background-color: aqua;
  margin: 10px;
  font-size: 16px;

}

.newbox2{
    border: 1px solid black;
    font-size: 2em;   /*Means [ em ] is multiple of 2 from its paresnt font size */
    /* [ rem ] depend on root element means html root element  */



}

    
    
