.box{
    background-color: aqua;
    /* transform: translatex(100px);
    transform: translateY(100px); */
    /* transform: rotate(-45deg); */
    margin: 100px;
    transform: scale(1,2); /* vertical ,horzontal */
    transform: skew(40deg);
    /* transform: matrix(1,2,3,4,4,5); */
}
