@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --bgOrange: #e84949;
  }
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
    font-family: "Be Vietnam Pro", sans-serif;
}
#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    width: 1200px;
    margin: 0 auto;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;

}
.logo{
    width: 80px;
}
.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.logo-text{
    margin-left: -1rem;
    margin-top: 20px;
    font-size: 28px;

}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.nav-items div a{
    color: black;
}
a{
    text-decoration: none;
}

.nav-items div:hover{
    font-weight:bold;
    transition: all 1s ease-in;

   
}

.hero-section{
    display: flex;
    position: relative;
    justify-content:space-evenly;
    align-items: center;
    margin: 2rem 10rem;
    gap: 5rem;
    padding: 0 1rem;
    padding-bottom: 8rem;
    
    
}

.faded-text{
    user-select: none;
    font-size: 7em;
    color: rgb(231,231,231);
    z-index: -0;

    bottom: -10%;
    left: 1%;
    font-weight: bold;
    transition: all 3s;
    position:absolute;
}

.hero-section-left{
    width: 100%;
    display: flex;
  
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
    
}
.role{
    color: #4e45d5;
    font-weight: 800;
}
.hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;
}

.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.btn-pink {
    background-color: var(--bgOrange);
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
  }
  .btn-pink::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
  }
  .btn-pink:hover::before {
    transform: scaleX(1);
  }
  .btn-pink:hover {
    border: solid 3px var(--bgOrange);
    color: black;
  }
  #btn-bottom {
    display: none;
  }

.hero-section-right{
   
    position: relative;
    
}
.absolute{
    position: absolute;
}

.user-image{
    padding: 3rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
    margin-top: 3rem;
}

.user-image img{
   z-index: -9;
   object-fit: cover;
   width: 350px;
   /* height: 390px; */
  
}

@keyframes scaleImage {
    0%{
        filter: grayscale(0);
        transform: scale(1);
      
    }
    50%{
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px black;

    }
    100%{
        transform: scale(1);
        filter: grayscale(0);

    }
}

.icon-dots{
 z-index: 9;
 bottom: -1rem;
 right: 0;
animation-name: dotAnimation;
animation-duration: 4s;
animation-iteration-count: infinite;

}

@keyframes dotAnimation {
    0%{
        transform: translateY(0px);
      
    }
    50%{
        transform: translateY(-15px);

    }
    100%{
      transform: translateY(0px);

    }
}


.icon-cube{
    z-index: 9;
    right: 1em;
    top: -2em;
    animation: cubeRotation 5s infinite;
}

@keyframes cubeRotation {
    0%{
        transform: translateY(0px) rotate(0);
      
    }
    50%{
        transform: translateY(-12px) rotateY(180deg);
        

    }
    100%{
      transform: translateY(0px);

    }
}

.icon-circle{
    z-index: 9;
    bottom: 0;
    left: 0;
    animation: shakeEffect 5s linear infinite;
}

@keyframes shakeEffect {
    0%{
        left: 0;
        bottom: 0;
      
    }
    50%{
       left: 5%;
       bottom: 3%;
        

    }
   
   
}


.icon-zigzag{
    z-index: 9;
    top: 1.5rem;
    left: -0.8em;
    animation: zigzagAnimation 5s ease-in infinite;

}

@keyframes zigzagAnimation {
  
    50%{
       left: 1%;
      top: 2%;
        

    }
   
}

.icon-plus{
    z-index: 9;
    top: -1em;
    left: 50%;
    animation: shakeEffectplus 5s linear infinite;
}

@keyframes shakeEffectplus {
  0%{
    top:-1em;
    left: 50%;
  }
    50%{
       top: 3%;
        left: 48%;

    }
   
}


/* project section start from here */


.project-section{
    background-color: rgb(232,232,232);
    margin-top: 3em;
    /* width: 100%; */
}

.page-header{
    color: var(--bgOrange);
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
    font-weight: 500;
}

.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    gap: 120px;


}

.project-card{
    width: 90%;
    height: 550px;
    background-image: url(./images/projects/Project2.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow:0px 0px 40px #1f1f1f ;
    
   
    
}

.project-card::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
    transform: scaleX(1);
}
.project-card::before{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg,#343d68, #343d68be, #343d687c);
    transform: scaleX(0);
     transform-origin: left;
     transition: all 0.4s;
     z-index: 1;


}

.project-card:hover::before{

    transform: scaleX(1);
}

.project-number{
    position: absolute;
    color: white;
    z-index: 9;
    font-size: 200px;
    font-weight: 600;
    display: none;
}
.project-card:hover .project-number{
    display: block;
    /* transition: all 0.5s; */

}

.project-number-right{
    right: -40px;
    top: -45px;

}

.project-number-left{
    left: -40px;
    top: -45px;

}

.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.5s;

}

.project-content-left{
    left: 10%;

}

.project-content-right{
    right: 10%;
}

.project-skills-container{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.project-skill{
    width: 40px;
}

.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-subHeading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}

.btn-grp {
    display: flex;
    gap: 0.9rem;
   
    align-items: center;
}

.btn-project:hover{
    border: none;
}
.icon{
    cursor: pointer;
    color: white;
    font-size: 35px;
}

.icon:hover{
    color: var(--bgOrange);
    transition: all 0.4s;
}

.project-card:hover .project-content{

    transform: scale(1.1);
    /* transition: all 0.5s ease-in; */
}


#project1{
    background-image: url(./images/projects/Project1.png);
    

}
#project2{
    margin-left: 120px;
    background-image: url(./images/projects/Project2.png);

}
#project3{
    background-image: url(./images/projects/Project3.png);

}
#project4{
    margin-left: 120px;
    background-image: url(./images/projects/Project4.png);

}

/* Skills css Start here */
.skills-container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    position: relative;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
}


.skill-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;

}

.skill-container-right{

    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    gap: 2rem;
    justify-content: center;
}

.skill-fade-text{
    font-size: 15rem;
    font-weight: 500;
    color:rgb(231, 231, 231);
    bottom: -40%;
    right: -15%;
    user-select: none;
    position: absolute;
    /* overflow-y: hidden; */
}

.blob-style{
    position: absolute;
    top: 50%;
    left: 50%;
    animation: blobAnimate 3s linear infinite;
    transform: translate(-50%,-50%);
    z-index: -1;
}

@keyframes blobAnimate{
    0%{
        

    }
    50%{
        top: 54%;
        left: 46%;

    }
    100%{

    }
}

.skills-logo{
    width: 90px;
    transition: all 0.5s;
}

.skills-logo:hover{
    transform: scale(1.2);
}

.skill-heading{
    color: var(--bgOrange);
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
}

.caps{

    font-size: 90px;
}

.skill-subheading{

    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}
.skill-subheading p{
    margin: 15px 0;
}

